.container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  width: fit-content;
}
.post
{
  h1,h2,h3,p,a
  {
    text-align: center;
    text-decoration: none;
    color: black;
  }

  width: 350px;

  img
  {
    width: 300px;
    height: auto;
  }
}
